<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle" th:text="#{addBook.pageTitle}"></title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- #progressBar -------------------------------- -->
<div>
    <div class="grid-wrapper">
        <div class="grid-container">
            <div class="grid-x grid-margin-x" id="progressBarHeader">
                <div class="cell">
                    <h6><small th:text="#{book.create.step3}"></small></h6>
                </div>
            </div>
            <div class="grid-x grid-margin-x" id="progressBar">
                <div class="cell small-8">
                    <h6>Create a new Book</h6>
                </div>
                <div class="cell small-8">
                    <h6>Add questions</h6>
                </div>
                <div class="cell small-8 current">
                    <h6>Add Participants <span class="material-icons">arrow_right_alt</span></h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- main -------------------------------- -->
<main class="grid-wrapper">
    <div class="grid-container">
        <div class="grid-x align-top">
            <div class="cell small-24 medium-7 card">
                <div class="card-section">
                    <h1 class="h3" th:text="${book.getName()}"></h1>
                    <p>Invite your friends and colleagues. Share your memories.</p>
                </div>
            </div>
            <div class="cell small-24 medium-16 medium-offset-1">
                <div class="grid-x">
                    <div th:if="${!book.getParticipations().isEmpty()}" th:each="participation, itemStat : ${book.getParticipations()}" class="card cell small-24">
                        <div class="grid-x card-section align-middle grid-padding-x">
                            <div class="cell shrink" th:with="image=${participation.getParticipant().getImageBase64()}">
                                <img th:src="${(image != null && !#strings.isEmpty(image)) ?
                                     'data:image/jpeg;base64,'+ image :
                                     'https://via.placeholder.com/400x400.webp?text=Profilpic'}" th:alt="${participation.getParticipant().getFullName()}"
                                     style="max-width: 50px"
                                >
                            </div>
                            <div class="cell auto">
                                <b th:text="${participation.getParticipant().getFullName()}"></b> | <span th:text="${participation.getParticipant().getEmail()}"></span>
                            </div>
                            <div class="cell shrink">
                                <small th:text="'currently: ' + ${participation.getStatusString()}"></small>

                                <form method="post" th:action="@{/book/{id}/create/participants/makeAdmin/{participantId}(id=${book.getId()}, participantId=${itemStat.index})}" th:if="${participation.currentUserCanMakeAdmin()}">
                                    <button type="submit" class="hyperlink tiny">Make Admin</button>
                                </form>

                                <form method="post" th:action="@{/book/{id}/create/participants/makeNotAdmin/{participantId}(id=${book.getId()}, participantId=${itemStat.index})}" th:if="${participation.currentUserCanMakeNotAdmin()}">
                                    <button type="submit" class="hyperlink tiny">Make Participant</button>
                                </form>
                            </div>
                            <div th:if="${participation.currentUserCanDelete()}" class="cell shrink">
                                <form method="post" th:action="@{/book/{id}/create/participants/delete/{participantId}(id=${book.getId()}, participantId=${itemStat.index})}">
                                    <button type="submit" class="button tiny">Remove Participant <span class="material-icons">remove</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-x card">
                    <form class="cell card-section" method="post" th:action="@{/book/{id}/create/participants/new(id=${book.getId()})}" th:object="${addUserForm}">
                        <input type="email" placeholder="Enter Email" th:field="*{email}">
                        <span class="backend-form-error" th:errors="*{email}"/>
                        <input type="submit" class="button" value="Add participant">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- .section-lead -------------------------------- -->
<div class="grid-wrapper">
    <div class="grid-container">
        <div class="grid-x align-right section-lead">
            <div class="cell shrink">
                <a class="button" th:href="@{/book/{id}(id=${book.getId()})}">Finish Process</a>
            </div>
        </div>
    </div>
</div>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>