<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">Add Book | Yearbook</title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- #progressBar -------------------------------- -->
<div class="grid-wrapper">
    <div class="grid-container">
        <div class="grid-x grid-margin-x" id="progressBarHeader">
            <div class="cell">
                <h6><small>Current Step: 1 of 3</small></h6>
            </div>
        </div>
        <div class="grid-x grid-margin-x" id="progressBar">
            <div class="cell small-8 current">
                <h6>Create a new Book<span class="material-icons">arrow_right_alt</span></h6>
            </div>
            <div class="cell small-8">
                <h6>Add questions</h6>
            </div>
            <div class="cell small-8">
                <h6>Add Participants</h6>
            </div>
        </div>
    </div>
</div>

<!-- form -------------------------------- -->
<form method="post" th:action="@{/book/create}" th:object="${bookForm}">
    <!-- main -------------------------------- -->
    <main class="grid-wrapper" id="createBookForm">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell small-12 medium-6">
                    <img class="bookAvater" src="https://via.placeholder.com/300x300.webp?text=ImageCover">
                    <label for="bookAvatarUpload" class="button bookAvatarUpload"><span class="material-icons">create</span> Edit</label>
                    <input type="file" id="bookAvatarUpload" class="show-for-sr">
                </div>
                <div class="cell small-12 medium-17 medium-offset-1">
                    <label>Add a title
                        <span class="formError" th:errors="*{name}"/>
                        <input type="text" th:field="*{name}"/>
                    </label>
                    <label>Describe the book you are creating.
                        <span class="formError" th:errors="*{description}"/>
                        <input type="text" th:field="*{description}"/>
                    </label>
                    <hr />
                    <fieldset>
                        <legend>Choose Visibility</legend>
                        <div class="cell radioWrapper">
                            <input th:field="*{published}" type="radio" name="visibility" value="1" id="visibilityPublic" required>
                            <label for="visibilityPublic"><strong>Public</strong><br />Your book will be visible to all visitors on Yearbook.</label>
                        </div>
                        <div class="cell radioWrapper">
                            <input th:field="*{published}" type="radio" name="visibility" value="0" id="visibilityPrivate">
                            <label for="visibilityPrivate"><strong>Private</strong><br />Your book will only be visible to you and your participants.</label>
                        </div>
                    </fieldset>
                    <hr/>
                </div>
            </div>
        </div>
    </main>
    <!-- goToNextStep -------------------------------- -->
    <div class="grid-wrapper">
        <div class="grid-container" id="goToNextStep">
            <div class="grid-x">
                <div class="cell auto">

                </div>
                <div class="cell shrink submitIconWrapper">
                    <input class="button next" type="submit" value="Save and next" />
                    <div class="submitIcon"><span class="material-icons">navigate_next</span></div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>