<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">View Book | Yearbook</title>
</head>
<body>
    <header th:insert="fragments/header :: header"></header>

    <h1 th:text="${editQuestionsBookViewModel.getBookName()}"></h1>

    <div class="grid-container" id="createSecondStep">
        <div class="grid-x">
            <div class="cell small-24 medium-8">
                <h4>Add questions for all participants.</h4>
                <p>You can create your own custom question for your yearbook. You can get inspired be other yearbooks.</p>
            </div>
            <div class="cell small-24 medium-16">
                <div class="cell small-24">
                    <table>
                        <thead>
                        <tr>
                            <th width="40">#</th>
                            <th width="400">Question</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1.</td>
                            <td>Some question?</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Some other question?</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <form method="post">
                    <div class="grid-x grid-padding-x">
                        <div class="cell auto">
                            <label>Add a question.<input type="text"/></label>
                        </div>
                        <hr/>
                    </div>
                    <input class="button" type="submit" value="Add" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>