<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">Edit Book | Yearbook</title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<div class="grid-wrapper" id="createForm">
    <div class="grid-container" id="createFirstStep">
        <div class="grid-x">
            <div class="cell">
                <h1>Edit General Information</h1>
            </div>
        </div>
        <div class="grid-x">
            <div class="cell small-12 medium-8">
                <img src="https://via.placeholder.com/200x200.webp?text=Login">
            </div>
            <label>Choose a cover image.
                <input type="file" accept="image/*" value="Upload a photo...">
            </label>
            <div class="cell small-12 medium-16">
                <form method="post" th:action="@{/book/{id}/edit/general/update(id=${book.getId()})}" th:object="${bookForm}">
                    <label>Edit book name.
                        <input type="text" th:field="*{name}"/>
                    </label>
                    <label>Edit book description.
                        <input type="text" th:field="*{description}"/>
                    </label>
                    <input class="button" type="submit" value="Update Book" />
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>