<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">Edit Questions | Yearbook</title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- main -------------------------------- -->
<main class="grid-wrapper">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-24 medium-7">
                <h1 th:text="${book.getName()}"></h1>
                <h4>Add questions for all participants.</h4>
                <p>You can create your own custom question for your yearbook. You can get inspired be other yearbooks.</p>
            </div>
            <div class="cell small-24 medium-16 medium-offset-1">
                <div class="questionWrapper" th:if="${!questions.isEmpty()}">
                    <div class="questionBorderWrap" th:each="question, itemStat : ${questions}">
                        <div class="questionInner">
                            <span th:text="${itemStat.index + 1} + '.'"> </span>
                            <span th:text="${question.getQuestion()}"></span>
                            <form method="post" th:if="${!book.questionCanNotBeDeletedAt(itemStat.index)}" th:action="@{/book/{id}/edit/questions/delete/{questionId}(id=${book.getId()}, questionId=${itemStat.index})}">
                                <button type="submit" class="removeQuestion"><span class="material-icons">remove</span></button>
                            </form>
                            <div th:if="${book.questionCanNotBeDeletedAt(itemStat.index)}">
                                <p>ToDo: show info i with hover: explaining that questions can only be deleted, if no one answered them</p>
                            </div>
                        </div>
                    </div>
                </div>
                <form method="post" th:action="@{/book/{id}/edit/questions/new(id=${book.getId()})}" th:object="${newQuestionForm}">
                <div class="cell small-24 questionBorderWrap">
                    <div class="questionInner">
                        <span class="formError" th:errors="*{question}"/>
                        <input type="text" placeholder="Type to add question title" th:field="*{question}"/>
                    </div>
                </div>
                <input class="button" type="submit" value="Add"/>
                </form>
            </div>
        </div>
    </div>
</main>

<!-- backToBook -------------------------------- -->
<div class="grid-wrapper">
    <div class="grid-container" id="goToNextStep">
        <div class="grid-x">
            <div class="cell auto">
                <a class="button" th:href="@{/book/{id}(id=${book.getId()})}">Back to Book</a>
            </div>
        </div>
    </div>
</div>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>