<!DOCTYPE html>
<html>
<head th:include="fragments/head :: head">
    <title id="pageTitle">Edit Book | Yearbook</title>
</head>
<body>

<!-- header -------------------------------- -->
<header th:insert="fragments/header :: header"></header>

<!-- #editBar -------------------------------- -->
<div class="grid-wrapper" id="upperEditBar">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell auto">
                <h1 class="h4">Edit Book</h1>
            </div>
            <div class="cell shrink">
                <a class="button small" href="/book/1">Save</a>
            </div>
        </div>
    </div>
</div>

<!-- #viewHeader -------------------------------- -->
<div class="grid-wrapper" id="viewHeader">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-middle">
            <div class="cell small-12 medium-6">
                <img src="https://via.placeholder.com/200x200.webp?text=BookPreviewImage">
            </div>
            <div class="cell small-12 medium-18">
                <h1>Book title</h1>
                <p>Book description</p>
            </div>
        </div>
    </div>
</div>

<!-- #participants -------------------------------- -->
<div class="grid-wrapper" id="participants">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <table>
                    <thead>
                    <tr>
                        <th width="80">ICON</th>
                        <th>Name</th>
                        <th width="400">Email</th>
                        <th width="100">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ICON</td>
                        <td>John</td>
                        <td>john@doo.com</td>
                        <td>Accepted</td>
                    </tr>
                    <tr>
                        <td>ICON</td>
                        <td>John</td>
                        <td>john@doo.com</td>
                        <td>Accepted</td>
                    </tr>
                    </tbody>
                </table>
                <input type="submit" class="button" value="Add participant">
            </div>
        </div>
    </div>
</div>

<!-- #editBar -------------------------------- -->
<div class="grid-wrapper" id="lowerEditBar">
    <div class="grid-container">
        <div class="grid-x align-right">
            <div class="cell shrink">
                <a class="button small" href="/book/1">Save</a>
            </div>
        </div>
    </div>
</div>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>