<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">Edit Book | Yearbook</title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- .subheader -------------------------------- -->
<div class="grid-wrapper subheader">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-24">
                <h1 class="h3" th:text="${book.getName()}"></h1>
            </div>
        </div>
    </div>
</div>

<!-- main -------------------------------- -->
<main class="grid-wrapper">
    <div class="grid-container">
        <div class="grid-x align-top" id="sticky-anchor">
            <nav class="cell small-12 medium-7 sideMenu" data-sticky-container>
                <div class="card sticky" data-sticky data-anchor="sticky-anchor">
                    <a class="current" href="#">Edit General</a>
                    <a th:href="@{/book/{id}/edit/questions(id=${book.getId()})}">Edit Questions</a>
                    <a th:href="@{/book/{id}/edit/participants(id=${book.getId()})}">Edit Participants</a>
                </div>
            </nav>
            <div class="cell small-12 medium-16 medium-offset-1">
                <h4>Edit General</h4>
                <hr />
                <form method="post" th:action="@{/book/{id}/edit/general/addBookImage(id=${book.getId()})}" th:object="${bookImageForm}" enctype="multipart/form-data">
                    <div class="cell">
                        <img class="bookAvater" th:src="${(book.getImageBase64() != null && !#strings.isEmpty(book.getImageBase64())) ?
                         'data:image/jpeg;base64,'+ book.getImageBase64() :
                         'https://via.placeholder.com/800x200.webp?text=ImageCover'}" th:alt="${'Image Cover for book: ' + book.getDescription()}"
                        >
                        <label for="imageUpload" class="button imageUpload"><span class="material-icons">create</span> Edit</label>
                        <input type="file" accept="image/*" onchange="this.form.submit()" id="imageUpload" class="show-for-sr" th:field="*{image}">
                    </div>
                </form>
                <form method="post" th:action="@{/book/{id}/edit/general/update(id=${book.getId()})}" th:object="${bookForm}">
                    <div class="cell">
                        <label>Edit book name.
                            <span class="backend-form-error" th:errors="*{name}"/>
                            <input type="text" th:field="*{name}"/>
                        </label>
                        <label>Edit book description.
                            <span class="backend-form-error" th:errors="*{description}"/>
                            <input type="text" th:field="*{description}"/>
                        </label>
                    </div>
                    <div class="cell">
                        <hr />
                        <fieldset>
                            <legend>Choose Visibility</legend>
                            <div class="cell radioWrapper">
                                <input th:field="*{published}" type="radio" name="visibility" value="1" id="visibilityPublic" required>
                                <label for="visibilityPublic"><strong>Public</strong><br />Your book will be visible to all visitors on Yearbook.</label>
                            </div>
                            <div class="cell radioWrapper">
                                <input th:field="*{published}" type="radio" name="visibility" value="0" id="visibilityPrivate">
                                <label for="visibilityPrivate"><strong>Private</strong><br />Your book will only be visible to you and your participants.</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="cell">
                        <hr/>
                        <input class="button" type="submit" value="Update Book" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<form th:if="${book.currentUserIsOwner()}" method="post" th:action="@{/book/{id}/delete(id=${book.getId()})}">
    <button type="submit" class="button">Delete book</button>
</form>

<!-- .section-lead -------------------------------- -->
<div class="grid-wrapper">
    <div class="grid-container">
        <div class="grid-x section-lead">
            <div class="cell shrink">
                <a class="button" th:href="@{/book/{id}(id=${book.getId()})}">Back to Book</a>
            </div>
        </div>
    </div>
</div>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>