<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">Edit Questions | Yearbook</title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- .subheader -------------------------------- -->
<div class="grid-wrapper subheader">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-24">
                <h1 class="h3" th:text="${book.getName()}"></h1>
            </div>
        </div>
    </div>
</div>

<!-- main -------------------------------- -->
<main class="grid-wrapper">
    <div class="grid-container">
        <div class="grid-x align-top">
            <nav class="cell small-12 medium-7 sideMenu">
                <a th:href="@{/book/{id}/edit/general(id=${book.getId()})}">Edit General</a>
                <a class="current"  th:href="@{/book/{id}/edit/questions(id=${book.getId()})}">Edit Questions</a>
                <a th:href="@{/book/{id}/edit/participants(id=${book.getId()})}">Edit Participants</a>
            </nav>
            <div class="cell small-12 medium-16 medium-offset-1">
                <h4>Edit Questions</h4>
                <hr />
                <div class="card" th:if="${!questions.isEmpty()}" th:each="question, itemStat : ${questions}">
                    <div class="card-section">
                        <h6><strong th:text="${itemStat.index + 1} + '.'"></strong> | <span th:text="${question.getQuestion()}"></span></h6>
                    </div>
                    <div class="card-divider align-right">
                        <small th:if="${book.questionCanNotBeDeletedAt(itemStat.index)}">This questions can not be deleted since it is already answered by some participiants of your yearbook.</small>
                        <form method="post" th:if="${!book.questionCanNotBeDeletedAt(itemStat.index)}" th:action="@{/book/{id}/edit/questions/delete/{questionId}(id=${book.getId()}, questionId=${itemStat.index})}">
                            <button type="submit" class="button tiny">Delete Question <span class="material-icons">delete</span></button>
                        </form>
                    </div>
                </div>
                <form method="post" th:action="@{/book/{id}/edit/questions/new(id=${book.getId()})}" th:object="${newQuestionForm}">
                    <div class="card">
                        <div class="card-section">
                            <span class="formError" th:errors="*{question}"/>
                            <input type="text" placeholder="Type to add question title" th:field="*{question}"/>
                        </div>
                    </div>
                    <input class="button" type="submit" value="Add Question"/>
                </form>
            </div>
        </div>
    </div>
</main>

<!-- backToBook -------------------------------- -->
<div class="grid-wrapper">
    <div class="grid-container" id="goToNextStep">
        <div class="grid-x">
            <div class="cell auto">
                <a class="button" th:href="@{/book/{id}(id=${book.getId()})}">Back to Book</a>
            </div>
        </div>
    </div>
</div>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>