<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">Add Book | Yearbook</title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- #progressBar -------------------------------- -->
<div th:if="${isInCreationProcess}">
    <div class="grid-wrapper">
        <div class="grid-container">
            <div class="grid-x grid-margin-x" id="progressBarHeader">
                <div class="cell">
                    <h6><small>Current Step: 3 of 3</small></h6>
                </div>
            </div>
            <div class="grid-x grid-margin-x" id="progressBar">
                <div class="cell small-8">
                    <h6>Create a new Book</h6>
                </div>
                <div class="cell small-8">
                    <h6>Add questions</h6>
                </div>
                <div class="cell small-8 current">
                    <h6>Add Participants <span class="material-icons">arrow_right_alt</span></h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- .subheader -------------------------------- -->
<div class="grid-wrapper subheader">
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="h3"><small th:text="${book.getName()}"></small><br />Invite participants</h1>
        </div>
    </div>
</div>

<!-- main -------------------------------- -->
<main class="grid-wrapper">
    <div class="grid-container">
        <div th:if="${!participations.isEmpty()}" class="grid-x">
            <div th:each="participation : ${participations}" class="cell small-24 cardWrapper">
                <div class="grid-x align-middle grid-padding-x">
                    <div class="cell shrink">
                        <img id="navBarAvatar" src="https://avatars0.githubusercontent.com/u/13287037?s=60&v=4">
                    </div>
                    <div class="cell auto">
                        <b th:text="${participation.getParticipant().getFullName()}"></b> | <span th:text="${participation.getParticipant().getEmail()}"></span>
                    </div>
                    <div class="cell shrink">
                        <form action="#">
                            <select onchange="this.form.submit()">
                                <option value="owner">Owner</option>
                                <option value="participant">Participant</option>
                            </select>
                        </form>
                    </div>
                    <div class="cell shrink">
                        <button type="button" class="alert button">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x">
            <form method="post" th:action="@{/book/{id}/edit/participants/new(isInCreationProcess=${isInCreationProcess}, id=${book.getId()})}" th:object="${addUserForm}">
                <span class="formError" th:errors="*{email}"/>
                <input type="text" placeholder="Enter email..." th:field="*{email}">
                <input type="submit" class="button" value="Add participant">
            </form>
        </div>
    </div>
</main>

<!-- goToNextStep -------------------------------- -->
<div class="grid-wrapper">
    <div class="grid-container" id="goToNextStep">
        <div class="grid-x">
            <div class="cell auto">
                <a th:if="${!isInCreationProcess}" class="button" th:href="@{/book/{id}(id=${book.getId()})}">Back to Book</a>
            </div>
            <div th:if="${isInCreationProcess}" class="cell shrink submitIconWrapper">
                <a th:if="${isInCreationProcess}" class="button" th:href="@{/book/{id}(id=${book.getId()})}">Finish Process</a>
                <div class="submitIcon"><span class="material-icons">navigate_next</span></div>
            </div>
        </div>
    </div>
</div>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>