<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">Edit Book | Yearbook</title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- .subheader -------------------------------- -->
<div class="grid-wrapper subheader">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-24">
                <h1 class="h3">Book title</h1>
            </div>
        </div>
    </div>
</div>

<div class="grid-wrapper">
    <div class="grid-container">
        <div class="grid-x align-top">
            <nav class="cell small-12 medium-7 sideMenu">
                <a class="current" href="#">Edit General</a>
                <a th:href="@{/book/{id}/edit/questions(id=${book.getId()}, isInCreationProcess=false)}">Edit Questions</a>
                <a th:href="@{/book/{id}/edit/participants(isInCreationProcess=false, id=${book.getId()})}">Edit Participants</a>
            </nav>
            <div class="cell small-12 medium-16 medium-offset-1">
                <h4>Edit General</h4>
                <hr />
                <form method="post" th:action="@{/book/{id}/edit/general/update(id=${book.getId()})}" th:object="${bookForm}">
                    <div class="cell">
                        <img class="bookAvater" src="https://via.placeholder.com/800x200.webp?text=ImageCover">
                        <label for="bookAvatarUpload" class="button bookAvatarUpload"><span class="material-icons">create</span> Edit</label>
                        <input type="file" id="bookAvatarUpload" class="show-for-sr">
                    </div>
                    <div class="cell">
                        <label>Edit book name.
                            <input type="text" th:field="*{name}"/>
                        </label>
                        <label>Edit book description.
                            <input type="text" th:field="*{description}"/>
                        </label>
                    </div>
                    <div class="cell">
                        <hr />
                        <fieldset>
                            <legend>Choose Visibility</legend>
                            <div class="cell radioWrapper">
                                <input type="radio" name="visibility" value="Public" id="visibilityPublic" required>
                                <label for="visibilityPublic"><strong>Public</strong><br />Your book will be visible to all visitors on Yearbook.</label>
                            </div>
                            <div class="cell radioWrapper">
                                <input type="radio" name="visibility" value="Private" id="visibilityPrivate">
                                <label for="visibilityPrivate"><strong>Private</strong><br />Your book will only be visible to you and your participants.</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="cell">
                        <hr/>
                        <input class="button" type="submit" value="Update Book" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>