<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">View Book | Yearbook</title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- #largeViewHeader -------------------------------- -->
<div class="grid-wrapper" id="largeViewHeader">
    <div class="grid-container full">
        <div class="grid-x grid-padding-x grid-margin-x align-middle"
             th:style="'background-image: url(' + ${(book.getImageBase64() != null && !#strings.isEmpty(book.getImageBase64())) ?
              'data:image/jpeg;base64,'+ book.getImageBase64() :
              'https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80' + ')'}"
        >
            <div class="cell shrink" id="viewHeaderInner">
                <h1 th:text="${book.getName()}"></h1>
                <p th:if="${book.isPublished()}" class="label">Published</p>
                <p th:if="${!book.isPublished()}" class="label">Private</p>
                <p th:text="${book.getDescription()}"></p>
                <a th:if="${book.currentUserIsOwner()}" th:href="@{/book/{id}/edit/general(id=${book.getId()})}"><button class="button">Edit general information</button></a>
            </div>
        </div>
    </div>
</div>

<!-- questions -------------------------------- -->
<div class="grid-wrapper">
    <div class="grid-container">
        <div class="grid-x section-header">
            <div class="cell auto">
                <h4>Questions</h4>
            </div>
            <div class="cell shrink" th:if="${book.currentUserIsOwner()}" >
                <a th:href="@{/book/{id}/edit/questions(id=${book.getId()})}" class="button small">Edit Questions</a>
            </div>
            <hr />
        </div>
        <div class="grid-x">
            <div class="callout secondary" th:if="${questions.isEmpty()}">
                <h5>This yearbook has no questions yet.</h5>
                <p>Only the owner of the book can add them.</p>
            </div>
            <div th:if="${!questions.isEmpty()}" th:each="question, itemStat : ${questions}" class="cell card">
                <div class="card-section">
                    <h6><strong th:text="${itemStat.index + 1} + '.'"></strong> | <span th:text="${question.getQuestion()}"></span></h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- participations -------------------------------- -->
<div class="grid-wrapper" id="questionnairesWrapper">
    <div class="grid-container">
        <div class="grid-x section-header">
            <div class="cell auto">
                <h4>Participants</h4>
            </div>
            <div class="cell shrink" th:if="${book.currentUserIsOwner() || book.currentUserIsAdmin()}">
                <a th:href="@{/book/{id}/edit/participants(id=${book.getId()})}" class="button small">Edit Participants</a>
            </div>
            <hr />
        </div>
        <div class="grid-x grid-margin-x">
            <div class="callout secondary" th:if="${participations.isEmpty()}">
                <h5>This yearbook has no participants yet.</h5>
                <p>Admins and the owner of the book can add them.</p>
            </div>
            <div class="cell small-12 medium-6 card" th:if="${!participations.isEmpty()}" th:each="participation : ${participations}">
                <a th:href="@{/participation/{id}(id=${participation.getId()})}" th:with="image=${participation.getParticipant().getImageBase64()}">
                    <img th:src="${(image != null && !#strings.isEmpty(image)) ?
                         'data:image/jpeg;base64,'+ image :
                         'https://via.placeholder.com/400x400.webp?text=Profilpic'}" th:alt="${participation.getParticipant().getFullName()}"
                    >
                    <div class="card-section">
                        <p th:if="${book.isOwner(participation)}" class="label">Owner</p>
                        <p th:if="${!book.isOwner(participation) && participation.isAdmin()}" class="badge">Admin</p>
                        <h4 th:text="${participation.getParticipant().getFullName()}"></h4>
                        <span>View Questionnaire</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<form th:if="${book.currentUserIsOwner()}" method="post" th:action="@{/book/{id}/delete(id=${book.getId()})}">
    <button type="submit" class="button">Delete book</button>
</form>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>
</body>
</html>