<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle" th:text="#{participation.edit.pageTitle}"></title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- .subheader -------------------------------- -->
<div class="grid-wrapper subheader">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell auto">
                <h1 class="h4" th:text="#{participation.edit.editQuestionnaire}"><small th:text="${book.getName()}"></small></h1>
            </div>
            <div class="cell shrink">
                <a class="button small" th:href="@{/participation/{id}(id=${participation.getId()})}" >Go back</a>
            </div>
        </div>
    </div>
</div>

<main class="grid-wrapper" id="questionnaireEdit">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell small-24 medium-12">
                <p class="infoBox">This is your personal questionnaire. All your answers will be published directly into the yearbook.</p>
            </div>
            <div class="cell small-24 medium-12">
                <form method="post" th:action="@{/participation/{id}/edit/update(id=${participation.getId()})}" th:object="${editAnswersForm}">
                    <div th:each="answer, itemStat : *{answers}">
                        <p th:text="${book.getQuestions().get(itemStat.index).getQuestion()}"></p>
                        <input type="text" th:field="*{answers[__${itemStat.index}__]}"/>
                    </div>

                    <input class="button" type="submit" value="Save questionnaire">
                </form>
            </div>
        </div>
    </div>
</main>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>