<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">View Questionnaire | Yearbook</title>
</head>
<body>

<!-- header -------------------------------- -->
<header th:insert="fragments/header :: header"></header>

<!-- .subheader -------------------------------- -->
<div class="grid-wrapper subheder">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell auto">
                <h1 class="h4">View Questionnaire <small th:text="${participation.getParticipant().getFullName()}"></small></h1>
            </div>
            <div class="cell shrink">
                <a class="button small" th:href="@{/book/{id}(id=${1})}">Go back to book</a>
                <a class="button small" th:if="${showEditButton}" th:href="@{/participation/{id}/edit(id=${participation.getId()})}">edit</a>
            </div>
        </div>
    </div>
</div>

<!-- #viewQuestionnaire -------------------------------- -->
<main class="grid-wrapper" id="viewQuestionnaire">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-24 medium-8">
                <img src="https://via.placeholder.com/200x200.webp?text=ProfilPicJohnDoe">
            </div>
            <div class="cell small-24 medium-16">
                <h1 th:text="${book.getName()}"></h1>
                <div class="questionBlock">
                    <div th:each="i : ${participation.getNonBlankAnswerIndices()}"}>
                        <h5 th:text="${book.getQuestions().get(i)}"></h5>
                        <p th:text="${participation.getAnswers().get(i)}"></p>
                    </div>
                </div>
                <div class="publishedComments">
                    <hr/>
                    <h5 th:text="'Comments about ' + ${participation.getParticipant().getFullName()}"></h5>
                    <div th:each="comment : ${participation.getComments()}">
                        <blockquote th:text="${comment.getComment()} + ' - ' + ${comment.getAuthor().getFullName()}"></blockquote>
                        <button th:if="${comment.authorIsCurrentUser()}" class="button">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-container" th:if="${commentForm != null}">
        <div class="grid-x align-right">
            <div class="cell small-22 medium-16">
                <hr />
                <h4>What do you remember about John Doe?<br/><small>Add a comment.</small></h4>
                <form method="post" th:action="@{/participation/1/addComment}" th:object="${commentForm}">
                    <label>Your comment
                        <input type="text" th:field="*{comment}" />
                    </label>
                    <input type="submit" class="button" value="Submit comment" />
                </form>
            </div>
        </div>
    </div>
</main>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>