<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle" th:text="#{participation.show.PageTitle}"></title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- .subheader -------------------------------- -->
<div class="grid-wrapper subheader">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell auto">
                <h1 class="h3" th:text="#{participation.show.viewQuestionnaire}"><small th:text="${book.getName()}"></small></h1>
            </div>
            <div class="cell shrink">
                <a class="button small" th:href="@{/book/{id}(id=${book.getId()})}" th:text="#{book.general.backToBook}"></a>
                <a class="button small" th:if="${showEditButton}" th:href="@{/participation/{id}/edit(id=${participation.getId()})}" th:text="#{general.edit}"></a>
            </div>
        </div>
    </div>
</div>

<!-- #viewQuestionnaire -------------------------------- -->
<div class="grid-wrapper" id="viewQuestionnaire">
    <div class="grid-container">
        <div class="grid-x">

            <!-- aside -------------------------------- -->
            <aside class="cell small-24 medium-8" th:with="user=${participation.getParticipant()}">
                <div th:if="${user != null}">
                    <img th:src="${(user.getImageBase64() != null && !#strings.isEmpty(user.getImageBase64())) ? 'data:image/jpeg;base64,'+ user.getImageBase64() : 'https://via.placeholder.com/400x400.webp?text=Profilpic'}" th:alt="${user.getFullName()}">
                    <p th:if="${user.getBio() != null}" th:text="${user.getBio()}"></p>
                    <p class="margin-0" th:if="${user.getTwitterHandle() != null}"><svg class="profile-icon" fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M24,4.3c-0.9,0.4-1.8,0.7-2.8,0.8c1-0.6,1.8-1.6,2.2-2.7c-1,0.6-2,1-3.1,1.2C19.3,2.6,18,2,16.6,2 c-2.7,0-4.9,2.2-4.9,4.9c0,0.4,0,0.8,0.1,1.1C7.7,7.8,4.1,5.9,1.7,2.9C1.2,3.6,1,4.5,1,5.4c0,1.7,0.9,3.2,2.2,4.1 C2.4,9.4,1.6,9.2,1,8.9c0,0,0,0,0,0.1c0,2.4,1.7,4.4,3.9,4.8c-0.4,0.1-0.8,0.2-1.3,0.2c-0.3,0-0.6,0-0.9-0.1c0.6,2,2.4,3.4,4.6,3.4 c-1.7,1.3-3.8,2.1-6.1,2.1c-0.4,0-0.8,0-1.2-0.1c2.2,1.4,4.8,2.2,7.5,2.2c9.1,0,14-7.5,14-14c0-0.2,0-0.4,0-0.6 C22.5,6.2,23.3,5.3,24,4.3"/></svg><span th:text="${user.getTwitterHandle()}"></span></p>
                    <p class="margin-0" th:if="${user.getLocation() != null}"><span class="material-icons profile-icon">location_city</span><span th:text="${user.getLocation()}"></span></p>
                    <p class="margin-0" th:if="${user.getWebsite() != null}"><span class="material-icons profile-icon">link</span><span th:text="${user.getWebsite()}"></span></p>
                </div>
                <img th:if="${user == null}" src="https://via.placeholder.com/200x200.webp?text=ProfilPicJohnDoe">
            </aside>

            <!-- main -------------------------------- -->
            <div class="cell small-24 medium-16" th:with="nonBlankAnswerIndices=${participation.getNonBlankAnswerIndices()}">

                <h2 th:text="${participation.getParticipant().getFullName()}"></h2>

                <!-- .question-block -------------------------------- -->
                <div class="questionBlock" th:if="${!nonBlankAnswerIndices.isEmpty()}">
                    <div th:each="i : ${nonBlankAnswerIndices}"}>
                        <h5 th:text="${book.getQuestions().get(i).getQuestion()}"></h5>
                        <p th:text="${participation.getAnswers().get(i).getAnswer()}"></p>
                    </div>
                </div>
                <div th:if="${nonBlankAnswerIndices.isEmpty()}">
                    <p th:text="#{participation.show.noAnswers}"></p>
                </div>

                <!-- .published-comments -------------------------------- -->
                <div class="published-comments">
                    <hr/>
                    <h5 th:text="#{participation.show.commentsAbout} + ' ' + ${participation.getParticipant().getFullName()}"></h5>
                    <p th:if="${participation.getComments().isEmpty()}" th:text="#{participation.show.noComments}"></p>
                    <div class="single-comment" th:each="comment, itemStat : ${participation.getComments()}">
                        <blockquote th:text="${comment.getComment()} + ' - ' + ${comment.getAuthor().getFullName()}"></blockquote>
                        <a class="button"
                           th:href="@{/participation/{id}/editComment/{commentId}(id=${participation.getId()}, commentId=${itemStat.index})}"
                           th:if="${comment.authorIsCurrentUser()}">
                            <span class="material-icons">edit</span>
                        </a>
                    </div>
                </div>

                <!-- .add-comment -------------------------------- -->
                <div class="add-commment" th:if="${participation.getBook().currentUserHasParticipation()}">
                    <hr />
                    <div th:if="${participation.currentUserCanComment()}">
                        <h4 th:text="${#{participation.show.remember} + '' + participation.getParticipant().getFirstName() + '?'}"></h4>
                        <form method="post" th:action="@{/participation/{id}/addComment(id=${participation.getId()})}" th:object="${commentForm}">
                            <label>
                                <span th:text="#{participation.show.comment}"></span>
                                <span class="formError" th:errors="*{comment}"/>
                                <input type="text" th:field="*{comment}" />
                            </label>
                            <input type="submit" class="button" th:value="#{participation.show.submit}" />
                        </form>
                    </div>
                    <div class="callout primary" th:if="${!participation.currentUserCanComment()}">
                        <p th:text="#{participation.show.sorry}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- .section-lead -------------------------------- -->
<div class="grid-wrapper">
    <div class="grid-container">
        <div class="grid-x align-right section-lead">
            <div class="cell shrink">
                <button onclick="window.print()" value="Print" class="button medium"><span th:text="#{participation.show.print}"></span> <span class="material-icons">print</span></button>
            </div>
        </div>
    </div>
</div>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>