<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle" th:text="#{login.pageTitle}"></title>
</head>
<body>

<!-- main -------------------------------- -->
<main class="grid-container full" id="loginWrapper">
    <div class="grid-x align-center-middle">
        <div class="cell small-22 medium-10 large-8">
            <div class="card">
                <form class="card-section" method="post" th:action="@{/login}">
                    <h1 class="h3" th:text="#{login.signIn}"></h1>
                    <label>
                        <span th:text="#{login.email}"></span>
                        <input type="text" name="email" th:placeholder="#{general.email}" required="" autofocus="">
                    </label>
                    <label>
                        <span th:text="#{general.password}"></span>
                        <input type="password" name="password" th:placeholder="#{general.password}" required="">
                    </label>
                    <label>
                        <span th:text="#{login.rememberMe}"></span>
                        <input type="checkbox" name="remember-me">
                    </label>
                    <input class="button" type="submit" th:value="#{general.signIn}">
                </form>
            </div>
            <div class="card">
                <div class="card-section">
                    <span>
                        <span th:text="#{login.newToYearbook}"></span>
                        <a class="inlineButton" href="/" th:text="#{login.createAccount}"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

</body>
</html>