<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">Sign in to Yearbook | Yearbook</title>
</head>
<body>

    <main class="grid-container full" id="loginWrapper">
        <div class="grid-x align-center-middle">
            <div class="cell small-22 medium-10 large-8">
                <div class="formGroup">
                    <h1 class="h3">Sign in to Yearbook</h1>
                    <form method="post" th:action="@{/login}">
                        <label>Username or email address
                            <input type="text" name="username" placeholder="Username" required="" autofocus="">
                        </label>
                        <label>Password
                            <input type="password" name="password" placeholder="Password" required="">
                        </label>
                        <label>Remember Me?
                            <input type="checkbox" name="remember-me">
                        </label>
                        <input class="button" type="submit" value="Sign in">
                    </form>
                </div>
                <div class="formGroup" id="formAddOn">
                    <span>New to Yearbook? <a class="inlineButton" href="/">Create an account</a></span>
                </div>
            </div>
        </div>
        </div>
    </main>

</body>
</html>
