/*

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# typography
# templates.index
# templates.fragments.header
# templates.fragments.footer
# templates.pages.login
# templates.pages.profile

--------------------------------------------------------------*/


/* Typographie
--------------------------------------------- */

body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans', sans-serif;
}

.button-group .button {
    background-color: #1da1f2;
    margin: 5px 0;
}

.material-icons {
    font-size: inherit;
    margin-right: 5px;
}

/* templates.index
--------------------------------------------- */

#indexHero > .grid-x {
    height: 100vh;
}

#indexHeroLeft {
    background-color: #1da1f2;
    color: #f1f1f1;
}

#featuredWrapper {
    margin: 80px 0;
    padding: 80px;
    background: #f1f1f1;
}

.featuredCard {
    background-color: #cdcdcd;
}

/* templates.fragments.header
--------------------------------------------- */

header#mastHead {
    padding: 10px 0;
    background-color: #2c3840;
    color: #ffffff;
}

header#mastHead .button {
    margin: 0;
}

/* templates.fragments.footer
--------------------------------------------- */

footer {
    margin-top: 40px;
    background-color: #121212;
    color: #f1f1f1;
    padding: 10px 0;
}

/* templates.pages.login
--------------------------------------------- */

#loginGroup {
    margin-top: 150px;
    background-color: #ffffff;
}

#signupTeaser {
    margin-top: 40px;
}

/* templates.pages.profile
--------------------------------------------- */

#ownedBooks {
    margin-top: 60px;
}

#participatingBooks {
    margin-top: 60px;
}