/*

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Typography
# Home Page
# Forms
# typography
# templates.index
# templates.fragments.header
# templates.fragments.footer
# templates.pages.login
# templates.pages.profile
# templates.pages.addBook
# templates.error

--------------------------------------------------------------*/


/* Typographie
--------------------------------------------- */

body {
    background-color: #FAFAFC;
}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

h2 {
    line-height: 1;
}

a.textLink {
    color: #111111;
}

a.textLink:hover {
    color: #e74c3c;
}

.button {
    background-color: #e74c3c;
    margin: 5px 0;
}

.inlineButton {
    display: inline-block;
    border-bottom: 1px solid #e74c3c;
    color: #e74c3c;
}

.inlineButton:hover {
    color: #c0392b;
}

.material-icons {
    font-size: inherit;
    vertical-align: middle;
}

.infoBox {
    background-color: #f2f6ea;
    padding: 24px 16px;
}

h1 .colored, h2 .colored, h3 .colored, h4 .colored, h5 .colored, h6 .colored {
    color: #e74c3c;
}


/* General Layout classes
--------------------------------------------- */

main {
    margin: 60px auto;
}

.cardWrapper {
    margin: 10px auto;
    padding: 12px 16px;
    background: #fff;
}

/* Forms
--------------------------------------------- */

form {
    width: 100%;
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
    box-shadow: none;
    background-color: #f9f9f9;
}

[type=submit] {
    width: 100%;
}

.button-group [type=submit] {
    width: auto;
}

.button-group.expanded .button:not(:last-child) {
    margin-right: 12px;
}

[type=submit]:hover, .button:hover {
    background-color: #c0392b;
}

.button.success, .button.success.disabled, .button.success.disabled:focus, .button.success.disabled:hover, .button.success[disabled], .button.success[disabled]:focus, .button.success[disabled]:hover {
    color: #ffffff;
    background-color: #27ae60;
}

select {
    margin-bottom: 0;
}

.radioWrapper {
    display: flex;
    align-items: flex-end;
}

fieldset label {
    line-height: 1.2;
    margin: 10px;
}

/* templates.index
--------------------------------------------- */

#indexHero {
    margin-top: 0;
}

#indexHero > .grid-x {
    height: 100vh;
}

#indexHeroLeft {
    background-color: #292c31;
    color: #f1f1f1;
}

.formGroup {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    padding: 18px 16px;
}

#formAddOn {
    margin-top: 25px;
}

#featuredWrapper {
    margin: 120px 0;
}

.featuredCard {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto 10px;
    display: flex;
    padding: 0 10px;
}

.featuredCard h5 {
    vertical-align: bottom;
    display: flex;
    align-self: flex-end;
}

.featuredCard h5 a {
    color: #f1f1f1;
}

.featuredCard h5 a:hover {
    color: #c0392b;
}

.featuredCard:nth-child(1), .featuredCard:nth-child(5) {
    margin-top: -20px;
}

.featuredCard:nth-child(2), .featuredCard:nth-child(4) {
    margin-top: 20px;
}

.featuredCard:nth-child(3) {
    margin-top: 60px;
}

/* templates.fragments.header
--------------------------------------------- */

header#mastHead {
    position: relative;
    z-index: 3;
    padding: 10px 0;
    background-color: #292c31;
    color: #f1f1f1;
}

header#mastHead .button {
    margin: 0;
}

header#mastHead a.logo {
    font-size: 16px;
    color: #f1f1f1;
}

header #headerSecCTA {
    display: inline-block;
    margin: 5px 8px;
    color: #f1f1f1;
    transition: all .2s ease-in-out;
}

header #headerCTA {
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 6px 12px;
    color: #f1f1f1;
    transition: all .2s ease-in-out;
}

header #headerCTA:hover {
    border: 1px solid #e74c3c;
    color: #e74c3c;
}

header #headerSecCTA:hover {
    color: #e74c3c;
}

#navBarAvatar {
    width: 25px;
    height: 25px;
    border-radius: 50%!important;
}

.dropdown .submenu {
    background-clip: padding-box;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    box-shadow: 0 8px 24px rgba(149,157,165,.2);
    font-size: 14px;
}

.submenu li:first-child {
    border-bottom: 1px solid #eaeaea;
}

.dropdown.menu>li>a {
    padding: 0;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    border: inset 5px;
    border-color: #fff transparent transparent;
}

.subheader .grid-container {
    margin: 30px auto;
    padding-bottom: 12px;
    border-bottom: 1px solid #dbdbdb;
}

.dropdown.menu #signOut button {
    padding: .7rem 1rem;
    cursor: pointer;
}

.dropdown.menu #signOut button:hover {
    color: #e74c3c;
}

/* templates.fragments.footer
--------------------------------------------- */

footer {
    background-color: #292c31;
    color: #f1f1f1;
    padding: 10px 0;
}

footer a {
    color: #f1f1f1;
}

/* templates.pages.login
--------------------------------------------- */

#loginWrapper .grid-x {
    height: 100vh;
}

#signupTeaser {
    margin-top: 40px;
}

/* templates.pages.profile
--------------------------------------------- */

#avatarImage {
    border-radius: 50%;
    margin-bottom: 20px;
}

#profileTitle {
    line-height: .2;
}

#editProfile {
    display: none;
}

#participatingBooks {
    margin-top: 60px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #fff;
    opacity: .95;
}

#changePassword {
    position: absolute;
    display: none;
    top: 100px;
    width: 100%;
    z-index: 3;
}

.passwordTrigger {
    cursor: pointer;
}

/* templates.pages.addBook
--------------------------------------------- */

#progressBarHeader {
    margin-top: 15px;
    margin-bottom: 5px;
}

#progressBar .cell {
    margin-bottom: 40px;
    padding-top: 5px;
    border-top: 2px solid #cacaca;
    color: #cacaca;
    cursor: not-allowed;
}

#progressBar .current {
    border-top: 2px solid #e74c3c;
    color: #e74c3c;
    cursor: auto;
}

#goToNextStep {
    border-top: 2px solid #292c31;
    padding-top: 15px;
    margin: 40px auto;
}

.submitIconWrapper {
    position: relative;
}

.submitIconWrapper input {
    padding: .85em 1.2em .85em 1em;
}

.submitIcon {
    display: inline-flex;
    position: absolute;
    align-items: center;
    height: 40px;
    margin: 5px 0 5px -18px;
    padding-right: 8px;
    background-color: #e74c3c;
    border-radius: 3px;
    color: #fff;
}

#createBookForm .grid-container {
    margin: 60px auto 70px;
}

img.bookAvater {
    border-radius: 50%;
}

.bookAvatarUpload {
    margin: -60px 20px 0 0;
    background-color: #292c31;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}

.questionBorderWrap {
    position: relative;
    margin-bottom: 15px;
    padding: 0 0 0 5px;
    background: linear-gradient(to bottom, red, purple);
}

.questionInner {
    background-color: #fff;
    padding: 10px 20px 5px;
}

.questionBorderWrap:hover .removeQuestion{
    display: flex;
}

.removeQuestion {
    position: absolute;
    display: none;
    top: 6px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 8px 7px #EAEAEA;
    box-shadow: 5px 5px 8px 7px #EAEAEA;
    /* background-color: white; */
    transition: all .2s ease-in-out;
}

.removeQuestion span.material-icons {
    margin: auto;
    font-size: 20px;
}

.addParticipant {
    background-color: #ffffff;
    padding: 20px 20px 5px;
}

span.addSlug {
    display: inline-block;
    margin-right: 10px;
}

input.addParticipantInput {
    max-width: 200px;
    overflow-x: scroll;
    display: inline-block;
    margin-right: 5px;
}

button.button.round {
    display: inline-flex;
    width: 38px;
    height: 38px;
    margin-left: 10px;
    border-radius: 50%;
    font-size: 1rem;
}

button.button.round span {
    margin: -5px 0 0 -7px;
}

/* templates.pages.book.book
--------------------------------------------- */

#lowerEditBar .grid-container {
    margin: 30px auto;
    padding-top: 12px;
    border-top: 1px solid #dbdbdb;
}

#smallviewHeader {
    background-color: #f2f5f8;
}

#largeViewHeader .grid-x {
    background-color: #f2f5f8;
    margin: 30px;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#viewHeaderInner {
    background-color: rgba(255, 255, 255, .8);
    margin: 40px;
    padding: 40px;
    max-width: 50%;
}

#questionnairesWrapper {
    margin-top: 80px;
}

.questionnaireCard {
    background-color: #ffffff;
    min-height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cardContent {
    padding: 10px 12px;
}

/* templates.pages.questionnaire.show
--------------------------------------------- */

#viewQuestionnaire {
    background-color: #f2f5f8;
    padding: 40px 0;
}

/* templates.error
--------------------------------------------- */

#errorPage {
    background-color: #292c31;
    color: #ffffff;
    padding: 120px 0 220px;
    min-height: 90vh;
}