<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle" th:text="#{profile.changePw.pageTitle}"></title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- main -------------------------------- -->
<main class="grid-container">
    <div  id="changePassword">
        <div class="grid-x align-center">
            <div class="cell small-16">
                <h4 th:text="#{profile.changePw.changePw}"></h4>
                <form method="post" th:action="@{/profile/changePassword/changePassword}" th:object="${changePasswordForm}">
                    <label>
                        <span th:text="#{profile.changePw.oldPw}"></span>
                        <span class="form-error" th:errors="*{oldPasword}"/>
                        <input type="password" th:field="*{oldPasword}" required>
                    </label>
                    <label>
                        <span th:text="#{profile.changePw.newPw}"></span>
                        <span class="form-error" th:errors="*{newPasswordOne}"/>
                        <input type="password" th:field="*{newPasswordOne}" required>
                    </label>
                    <label>
                        <span th:text="#{profile.changePw.confirmPw}"></span>
                        <span class="form-error" th:errors="*{newPasswordTwo}"/>
                        <input type="password" th:field="*{newPasswordTwo}" required>
                    </label>
                    <div class="stack-for-small small expanded button-group">
                        <input class="success button" type="submit" th:value="#{profile.changePw.updatePw}">
                        <button class="secondary button" data-close aria-label="Close modal" th:value="#{general.cancel}" th:text="#{general.cancel}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>