<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle" th:text="#{profile.editProfile.pageTitle}"></title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- main -------------------------------- -->
<main class="grid-container">
    <div id="editProfile">
        <div class="grid-x align-center">
            <div class="cell small-16">
                <h4 th:text="#{profile.editProfile.edit}"></h4>
                <form th:action="@{/profile/editProfile/edit}" th:object="${userForm}" method="post" enctype="multipart/form-data">
                    <label>
                        <span th:text="#{profile.profile.bio}"></span>
                        <input type="text" th:placeholder="#{profile.profile.tellUs}" th:field="*{bio}">
                    </label>
                    <label>
                        <span th:text="#{general.firstName}"></span>
                        <span class="form-error" th:errors="*{firstName}"/>
                        <input type="text" th:field="*{firstName}">
                    </label>
                    <label>
                        <span th:text="#{general.lastName}"></span>
                        <span class="form-error" th:errors="*{lastName}"/>
                        <input type="text" th:field="*{lastName}">
                    </label>
                    <label>
                        <span th:text="#{profile.profile.twitter}"></span>
                        <span class="form-error" th:errors="*{twitterHandle}"/>
                        <input type="text" th:field="*{twitterHandle}">
                    </label>
                    <label>
                        <span th:text="#{profile.profile.location}"></span>
                        <input type="text" th:field="*{location}">
                    </label>
                    <label>
                        <span th:text="#{profile.profile.website}"></span>
                        <span class="form-error" th:errors="*{website}"/>
                        <input type="text" th:field="*{website}">
                    </label>
                    <div class="stack-for-small small expanded button-group">
                        <input class="success button" type="submit" th:value="#{profile.profile.update}">
                        <button class="secondary button" data-close aria-label="Close modal" th:value="#{general.cancel}" th:text="#{general.cancel}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>