<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">Your Profile | Yearbook</title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- main -------------------------------- -->
<main class="grid-container">
    <div class="grid-x grid-margin-x">

        <!-- Sidebar -------------------------------- -->
        <aside class="cell small-12 medium-6">
            <form th:action="@{/profile/addProfileImage}" th:object="${userImageForm}" method="post" enctype="multipart/form-data">
                <img id="avatarImage" th:src="${(user.getImageBase64() != null && !#strings.isEmpty(user.getImageBase64())) ?
                 'data:image/jpeg;base64,'+ user.getImageBase64() :
                 'https://via.placeholder.com/400x400.webp?text=Profilpic'}" th:alt="${user.getFullName()}"
                >
                <label for="profilePicUpload" class="button imageUpload"><span class="material-icons">create</span> Edit</label>
                <input type="file" accept="image/*" onchange="this.form.submit()" id="profilePicUpload" class="show-for-sr" th:field="*{image}">
            </form>
            <h5 th:text="${user.getFullName()}"></h5>
            <h6 th:text="${user.getEmail()}"></h6>
            <p th:if="${user.getBio() != null}" th:text="${user.getBio()}"></p>
            <p th:if="${user.getTwitterHandle() != null}" th:text="${user.getTwitterHandle()}"></p>
            <p th:if="${user.getLocation() != null}" th:text="${user.getLocation()}"></p>
            <p th:if="${user.getWebsite() != null}" th:text="${user.getWebsite()}"></p>
            <hr />
            <button data-open="editProfile" class="button small secondary medium-expanded">Edit profile</button>
            <button data-open="changePassword" class="button small secondary medium-expanded">Change password</button>
        </aside>

        <!-- Main -------------------------------- -->
        <div class="cell small-12 medium-17 medium-offset-1">
            <div class="grid-x small-24 align-middle section-header">
                <div class="cell auto">
                    <h5>My Books</h5>
                </div>
                <div class="cell shrink">
                    <a href="/book/create"><button class="button">New Book</button></a>
                </div>
            </div>
            <div class="grid-x small-24">
                <div th:if="${!books.isEmpty()}" class="grid-x grid-margin-x">
                    <div class="cell small-8 medium-8 card cardShadow" th:each="book : ${books}">
                        <a th:href="@{/book/{id}(id=${book.getId()})}">
                            <img th:src="${(book.getImageBase64() != null && !#strings.isEmpty(book.getImageBase64())) ?
                             'data:image/jpeg;base64,'+ book.getImageBase64() :
                             'https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80'}"
                             th:alt="${book.getDescription()}"
                            >
                            <div class="card-section">
                                <h5 th:text="${book.getName()}"></h5>
                                <p th:text="${book.getDescription()}"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="grid-x section-header">
                <div class="cell">
                    <h5>Participations</h5>
                </div>
            </div>
            <div class="grid-x">
                <div class="cell small-24">
                    <div class="callout secondary" th:if="${participations.isEmpty()}">
                        <h5>You do not have any participations yet!</h5>
                        <p>Ask one of your friends to get invited to a yearbook.</p>
                    </div>
                    <div class="grid-x grid-margin-x align-top" th:if="${!participations.isEmpty()}">
                        <div class="cell small-8 medium-8 card cardShadow" th:each="participation : ${participations}">
                            <a th:with="book=${participation.getBook()}" th:href="@{/book/{id}(id=${book.getId()})}">
                                <img src="https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80" alt="Book Cover">
                                <div class="card-section">
                                    <h5 th:text="${book.getName()}"></h5>
                                    <p th:text="${book.getDescription()}"></p>
                                </div>
                            </a>
                            <div class="card-divider">
                                <a th:href="@{/participation/{id}(id=${participation.getId()})}">Your questionnaire</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- .reveal#editProfile -------------------------------- -->
<div class="reveal" id="editProfile" data-reveal data-deep-link="true">
    <div class="grid-x align-center">
        <div class="cell small-16">
            <h4>Edit profile</h4>
            <form th:action="@{/profile/edit}" th:object="${userForm}" method="post" enctype="multipart/form-data">
                <label>Bio
                    <input type="text" placeholder="Tell us something about yourself..." th:field="*{bio}">
                </label>
                <label>First Name
                    <span class="formError" th:errors="*{firstName}"/>
                    <input type="text" th:field="*{firstName}">
                </label>
                <label>Last Name
                    <span class="formError" th:errors="*{lastName}"/>
                    <input type="text" th:field="*{lastName}">
                </label>
                <label>Email
                    <span class="formError" th:errors="*{email}"/>
                    <input type="text" th:field="*{email}">
                </label>
                <label>TwitterHandle
                    <span class="formError" th:errors="*{twitterHandle}"/>
                    <input type="text" th:field="*{twitterHandle}">
                </label>
                <label>Location
                    <input type="text" th:field="*{location}">
                </label>
                <label>Website
                    <span class="formError" th:errors="*{website}"/>
                    <input type="text" th:field="*{website}">
                </label>
                <div class="stack-for-small small expanded button-group">
                    <input class="success button" type="submit" value="Update Profile">
                    <button class="secondary button" data-close aria-label="Close modal" value="Cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- .reveal#changePassword -------------------------------- -->
<div class="reveal" id="changePassword" data-reveal data-deep-link="true">
    <div class="grid-x align-center">
        <div class="cell small-16">
            <h4>Change password</h4>
            <form method="post" th:action="@{/profile/changePassword}" th:object="${changePasswordForm}">
                <label>Old password
                    <span class="formError" th:errors="*{oldPasword}"/>
                    <input type="password" th:field="*{oldPasword}" required>
                </label>
                <label>New password
                    <span class="formError" th:errors="*{newPasswordOne}"/>
                    <input type="password" th:field="*{newPasswordOne}" required>
                </label>
                <label>Confirm new password
                    <span class="formError" th:errors="*{newPasswordTwo}"/>
                    <input type="password" th:field="*{newPasswordTwo}" required>
                </label>
                <div class="stack-for-small small expanded button-group">
                    <input class="success button" type="submit" value="Update Password">
                    <button class="secondary button" data-close aria-label="Close modal" value="Cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>