<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="footer" class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="cell shrink">
            <small>
                <a href="/" th:inline="text">
                    [[#{footer.returnToHome}]]
                    <i class="material-icons">keyboard_return</i>
                </a>
            </small>
        </div>
        <div class="cell auto">
            <small>
                <strong><a th:href="@{/(lang='en_US')}" th:text="#{general.english}"></a></strong>
                |
                <a th:href="@{/(lang='de_DE')}" th:text="#{general.german}"></a>
            </small>
        </div>
        <div class="cell shrink">
            <small>Made by P.O.M.C</small>
        </div>
    </div>

    <!-- scripts -------------------------------- -->
    <script th:src="@{/vendor/jquery.js}"></script>
    <script th:src="@{/vendor/what-input.js}"></script>
    <script th:src="@{/vendor/foundation.min.js}"></script>
    <script> $(document).foundation(); </script>
</div>

</body>
</html>