<html>
<body>

<div th:fragment="footer" class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="cell shrink">
            <small><a href="/">Return to Homepage <i class="material-icons">keyboard_return</i></a></small>
        </div>
        <div class="cell auto">
            <small><strong>English (US)</strong> | <a href="#">Deutsch</a></small>
        </div>
        <div class="cell shrink">
            <small>Made by P.O.M.C</small>
        </div>
    </div>

    <!-- scripts -------------------------------- -->
    <script th:src="@{/vendor/jquery.js}"></script>
    <script th:src="@{/vendor/what-input.js}"></script>
    <script th:src="@{/vendor/foundation.min.js}"></script>
    <script> $(document).foundation(); </script>
</div>

</body>
</html>