<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="header" class="grid-container">
    <div class="grid-x align-middle">
        <div class="cell auto" id="headerLogo">
            <a class="logo" href="/" th:text="#{general.yearbook}"></a>
        </div>

        <a sec:authorize="anonymous" id="headerSecCTA" href="/login" th:text="#{general.signIn}"></a>
        <a sec:authorize="anonymous" id="headerCTA" href="/" th:text="#{general.signUp}"></a>

        <div sec:authorize="authenticated" class="cell shrink">
            <ul class="dropdown menu" data-dropdown-menu>
                <li>
                    <!-- <a href="/profile"><img id="navBarAvatar" src="https://avatars0.githubusercontent.com/u/13287037?s=60&v=4"></a> -->
                    <a href="/profile">
                        <img id="navBarAvatar" th:src="${(UserImageHandlerInterceptor != null && !#strings.isEmpty(UserImageHandlerInterceptorUserImage)) ?
                        'data:image/jpeg;base64,'+ UserImageHandlerInterceptorUserImage :
                        'https://avatars0.githubusercontent.com/u/13287037?s=60&v=4'}"
                        >
                    </a>
                    <p th:text="${TESTNAME}"> </p>
                    <ul class="menu">
                        <li><a class="textLink" href="#">
                            <span th:text="#{general.signInAs}"></span>
                            <br/>
                            <strong th:text="${#httpServletRequest.remoteUser}"></strong>
                        </a></li>
                        <li><a class="textLink" href="/profile" th:text="#{general.yourProfile}"></a></li>
                        <li>
                            <a class="textLink" href="#" th:text="#{general.changeLanguage}"></a>
                            <ul class="menu">
                                <li><a th:href="@{/(lang='de_DE')}" th:text="#{general.german}"></a></li>
                                <li><a th:href="@{/(lang='en_US')}" th:text="#{general.english}"></a></li>
                            </ul>
                        </li>
                        <li><a class="textLink" sec:authorize="hasRole('ADMIN')" th:href="@{/users}" th:text="#{general.userManagement}"></a></li>
                        <li id="signOut"><form method="post" th:action="@{/logout}">
                            <button class="textLink" th:text="#{general.signOut}"></button>
                        </form></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>