<head th:fragment="head">

    <!-- meta -------------------------------- -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- title -------------------------------- -->
    <title th:include=":: #pageTitle">Yearbook Page Title</title>

    <!-- fonts -------------------------------- -->
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap}" rel="stylesheet">

    <!-- css -------------------------------- -->
    <link th:href="@{/foundation.min.css}" rel="stylesheet" />
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link th:href="@{/print.css}" rel="stylesheet" media="print">

</head>