<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">403 Access denied. | Yearbook</title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- #editBar -------------------------------- -->
<div class="grid-wrapper" id="errorPage">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell auto">
                <h1><small>403 Error</small> <br/>Access denied.</h1>
                <a href="/" class="button">Return to Homepage <i class="material-icons">keyboard_return</i></a>
            </div>
        </div>
    </div>
</div>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>