<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">Yearbook | Home</title>
</head>
<body>

    <main class="grid-container full" id="indexHero">
        <div class="grid-x">
            <div class="grid-x small-24 medium-12 align-center-middle text-center" id="indexHeroLeft">
                <div class="cell shrink">
                    <h1>Yearbook.</h1>
                    <p>Create. Discover. Collaborate.</p>
                </div>
            </div>
            <div class="grid-x small-24 medium-12 align-center-middle" id="indexHeroRight">
                <div class="cell small-20 medium-12">
                    <h4>Discover the unique Yearbook experience.</h4>
                    <p class="">Join Yearbook today.</p>
                    <div class="grid-x align-center formGroup" id="registration">
                        <form>
                            <label>Username
                                <input type="text">
                            </label>
                            <label>Email
                                <input type="email">
                            </label>
                            <label>Password
                                <input type="password">
                            </label>
                            <input class="button" type="submit" href="/login" value="Sign Up"/>
                        </form>
                    </div>
                    <div class="grid-x align-center-middle formGroup" id="formAddOn">
                        <span>Already have an account? <a href="/login" class="inlineButton">Login</a></span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="grid-wrapper" id="featuredWrapper">
        <div class="grid-container full">
            <div class="grid-x align-center">
                <div class="cell small-24 text-center">
                    <h2>Create yearbooks<br/><span class="colored">worth remembering.</span></h2>
                </div>
            </div>
            <div class="grid-x align-center">
                <div class="cell small-8 medium-4 featuredCard" style="background-image: url('https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80')" th:each="featuredBookViewModel : ${indexViewModel.getFeaturedBookViewModels()}">
                    <h5><a th:href="@{/book/{id}(id=${featuredBookViewModel.getId()})}" th:text="${featuredBookViewModel.getBookTitle()}"><span class="material-icons">arrow_right_alt</span></a></h5>
                </div>
            </div>
        </div>
    </div>

    <footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>