<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">Yearbook | Home</title>
</head>
<body>

<!-- main -------------------------------- -->
<main class="grid-container full" id="indexHero">
    <div class="grid-x">
        <div class="grid-x small-24 medium-12 align-center-middle text-center" id="indexHeroLeft">
            <div class="cell shrink">
                <h1 th:text="#{index.title}"></h1>
                <p th:text="#{index.claim}"></p>
            </div>
        </div>
        <div class="grid-x small-24 medium-12 align-center-middle" id="indexHeroRight">
            <div class="cell small-20 medium-12">
                <h4 th:text="#{index.claim2}"></h4>
                <p class="" th:text="#{index.join}"></p>
                <div class="grid-x align-center card">
                    <form class="card-section" method="post" th:action="@{/newAccount}" th:object="${newAccountForm}">
                        <span class="formError" th:errors="*{firstName}"/>
                        <label>
                            <span th:text="#{general.firstName}"></span>
                            <input type="text" th:field="*{firstName}">
                        </label>
                        <span class="formError" th:errors="*{lastName}"/>
                        <label>
                            <span th:text="#{general.lastName}"></span>
                            <input type="text" th:field="*{lastName}">
                        </label>
                        <span class="formError" th:errors="*{email}"/>
                        <label>
                            <span th:text="#{general.email}"></span>
                            <input type="email" th:field="*{email}">
                        </label>
                        <span class="formError" th:errors="*{password}"/>
                        <label>
                            <span th:text="#{general.password}"></span>
                            <input type="password" th:field="*{password}">
                        </label>
                        <input class="button medium-expanded" type="submit" th:value="#{index.signUp}"/>
                    </form>
                </div>
                <div class="grid-x align-center-middle card">
                    <div class="card-section">
                        <span th:text="#{index.haveAnAccount}"></span>
                        &nbsp;<a href="/login" class="inlineButton" th:text="#{general.login}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- #featuredWrapper -------------------------------- -->
<div class="grid-wrapper" id="featuredWrapper">
    <div class="grid-container">
        <div class="grid-x align-center">
            <div class="cell small-24 text-center">
                <h2 th:inline="text">
                    [[#{index.createYearbooks}]]
                    <br/>
                    <span class="colored" th:text="#{index.worthRemembering}"></span>
                </h2>
                <p><small><a class="inlineButton" href="/book/all" th:text="#{index.seeAllBooks}"></a></small></p>
            </div>
        </div>
        <div class="grid-x align-center grid-margin-x">
            <div class="cell small-8 medium-6 card cardShadow" th:each="book : ${publishedBooks}">
                <a th:href="@{/book/{id}(id=${book.getId()})}">
                    <img class="bookCover" th:src="${(book.getImageBase64() != null && !#strings.isEmpty(book.getImageBase64())) ?
                         'data:image/jpeg;base64,'+ book.getImageBase64() :
                         'https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80'}" th:alt="${'Image Cover for book: ' + book.getDescription()}"
                    >
                    <div class="card-section">
                        <h5 th:text="${book.getName()}"></h5>
                        <p th:text="${book.getDescription()}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>