<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">Edit Questionnaire | Yearbook</title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- .subheader -------------------------------- -->
<div class="grid-wrapper subheader">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell auto">
                <h1 class="h4">Edit Questionnaire <small th:text="${editQuestionnaireViewModel.getBookName()}"></small></h1>
            </div>
            <div class="cell shrink">
                <a class="button small" href="/questionnaire/1/back" >Go back</a>
            </div>
        </div>
    </div>
</div>

<main class="grid-wrapper" id="questionnaireEdit">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell small-24 medium-12">
                <p class="infoBox">This is your personal questionnaire. All your answers will be published directly into the yearbook.</p>
            </div>
            <div class="cell small-24 medium-12">
                <form method="post" th:action="@{/questionnaire/1/edit/update}" th:object="${editQuestionnaireViewModel}">
                    <div th:each="questionViewModel, itemStat : *{questionViewModels}">
                        <p th:text="${questionViewModel.getQuestion()}"></p>
                        <input type="text" th:field="*{questionViewModels[__${itemStat.index}__].answer}"/>
                    </div>

                    <input class="button" type="submit" value="Save questionnaire">
                </form>
            </div>
        </div>
    </div>
</main>

<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>