<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title id="pageTitle">Edit Questionnaire | Yearbook</title>
</head>
<body>

<!-- header -------------------------------- -->
<header class="grid-wrapper" id="mastHead" th:insert="fragments/header :: header"></header>

<!-- #editBar -------------------------------- -->
<div class="grid-wrapper" id="upperEditBar">
    <div class="grid-container">
        <h1>Users</h1>
        <table>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <tr th:each="user : ${users}">
                <th><img id="avatarImage" th:src="${(user.getImageBase64() != null && !#strings.isEmpty(user.getImageBase64())) ? 'data:image/jpeg;base64,'+ user.getImageBase64() : 'https://via.placeholder.com/400x400.webp?text=Profilpic'}" th:alt="${user.getFullName()}"></th>
                <th th:text="${user.getFullName()}"></th>
                <th th:text="${user.getEmail()}"></th>
            </tr>
        </table>
    </div>
</div>


<!-- footer -------------------------------- -->
<footer class="grid-wrapper" th:insert="fragments/footer :: footer"></footer>

</body>
</html>